---
name: {{ name }}

{% if mgmt_subnet %}
mgmt:
  network: {{ mgmt_network }}
  ipv4-subnet: {{ mgmt_subnet }}

{% endif %}
topology:
  kinds:
{% for kind in kinds %}
    {{ kind.name }}:
{% if kind.image %}
      image: {{ kind.image }}
{% endif %}
{% if kind.startup_config %}
      startup-config: {{ startup_config_dir }}/{{ '__clabNodeName__' }}.cfg
{% endif %}
{% endfor %}

  nodes:
{% for node in nodes %}
    {{ node.name }}:
      kind: {{ node.kind }}
{% if node.mgmt_ipv4 %}
      mgmt-ipv4: {{ node.mgmt_ipv4 }}
{% endif %}
{% if node.binds %}
      binds:
{% for bind in node.binds %}
        - {{ bind }}
{% endfor %}
{% endif %}
{% endfor %}

  links:
{% for link in links %}
    - endpoints: ["{{ link.a }}", "{{ link.b }}"]
{% endfor %}
